__pycache__/
*.pyc
.venv/
.env
*.env
venv/
*.egg-info/
*.key
*.pem
*.crt
*.csr
*.p12
*.pfx
*.jks
certs/
generated-certs/
**/wazuh_indexer_ssl_certs/
!**/*example*.pem
!**/*example*.key
!**/*template*.pem
!**/*template*.key
!**/*.example
!**/*.example.*
