# Copiá este archivo a `.env` y reemplazá los valores vacíos por secretos fuertes.
INDEXER_PASSWORD=
API_PASSWORD=
DASHBOARD_PASSWORD=

INDEXER_USERNAME=admin
API_USERNAME=wazuh-wui
DASHBOARD_USERNAME=kibanaserver

WAZUH_INDEXER_BIND_IP=127.0.0.1
WAZUH_API_BIND_IP=127.0.0.1
WAZUH_DASHBOARD_BIND_IP=127.0.0.1
WAZUH_INGEST_BIND_IP=0.0.0.0
WAZUH_SYSLOG_BIND_IP=0.0.0.0
WAZUH_OPENSEARCH_DASHBOARDS_CONFIG_PATH=./config/wazuh_dashboard/opensearch_dashboards.local.yml
WAZUH_DASHBOARD_CONFIG_PATH=./config/wazuh_dashboard/wazuh.local.yml
